﻿<h1>Register</h1>

<form action="/Home/Register" method="post">
    <input type="text" name="username" value="" />
    <input type="text" name="password" value="" />
    <button type="submit"></button>
</form>