﻿@model string

@{ 
    var url = $"/Oauth/Authorize/{Model}";
}
@Model
    <form action="@url" method="post">
        <input type="text" name="username" value="" />
        <input type="submit" value="submit" />
    </form> 