﻿<h1>index</h1>

@*Simple access quick checks*@
@if (User.Identity.IsAuthenticated)
{
    <h1>User is authenticated</h1>
}
else
{
    <h1>User is not aithenticated</h1>
}

@*big guns reusable functions*@
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorizationService

@if ((await authorizationService.AuthorizeAsync(User, "Claim.DoB")).Succeeded)
{
    <h1>User has Dob Claim</h1>
}